@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <img src="home/image/@ViewBag.Image" />

    <ul>
        <li>ISOSpeedRatings:@ViewBag.ISOSpeedRatings;</li>
        <li>PixelXDimension:@ViewBag.PixelXDimension;</li>
        <li>PixelYDimension:@ViewBag.PixelYDimension;</li>
        <li>GPSAltitude:@ViewBag.GPSAltitude;</li>
        <li>GPSLatitude:@ViewBag.GPSLatitude;</li>
        <li>GPSLongitude:@ViewBag.GPSLongitude;</li>
    </ul>






</div>
