@{
    ViewData["Title"] = "Rotate Page";
}
@model RandomWeb.Models.ImageRotateModel;

@section Styles {
    <link rel="stylesheet" href="~/css/home-index.css" />
}

<input type="text" id="rotVal" value="@Model.Rotate" style="display:none; width:400px" />
<input type="text" id="imgTransformation" value="@Model.Transformation" style="display:none; width:400px" />
<input type="text" id="imageId" value="@Model.Image" style="display:none;" />

<div class="container">
        <div class="row">
            <div class="col-12">
                <img id="theimage" src="/image/small/@Model.Image" class="img-fluid" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-lg btn-light" onclick="setRotation(parseInt(document.getElementById('rotVal').value)-90)" title="0">Rotate</button>
                <a href="/home/rotate/@Model.Image" id="originallink" target="_blank">link</a>
                <button class="btn btn-lg btn-light" onclick="confirmRotation()">Save Rotation</button>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="~/js/home-rotate.js" asp-append-version="true"></script>
    }
